@using MyCompany.Products.Models;
@using Orchard.Core.Routable.Models;
@using Orchard.ContentManagement;

@model RecentProductsPart

<fieldset>
    <div>
        @Html.LabelFor(m => m.Count, T("Count"))
        @Html.TextBoxFor(m => m.Count)
    </div>
</fieldset>